/*General Setup*/
*
{
    padding:0px;
    margin:0px;
    overflow-x:hidden;
}
body
{
    font-size:1em;
    font-family:verdana, sans-serif;
    background-image:url(../images/give.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}
/*Header Setup*/
header
{
    width:100%;
    background-color:#000000;
    padding:20px;
}
header img
{
    height:183px;
    width:557px;
}
/*Main Content*/
main
{
    min-height:calc(100vh - 350px);
    display:flex;
    flex-wrap:wrap;
}
section
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-self:flex-start;
    width:100vw;
}
section#center
{
    align-self:center;
}
article
{
    width:30%;
    min-width:250px;
    margin:30px;
}
article h2
{
    padding-bottom:10px;
    padding-top:10px;
    width:100%;
    text-align:center;
    background-color:#000000;
    background-color:rgba(0, 0, 0, 0.8);
    color:#ffffff;
}
article p, article div
{
    background-color:#ffffff;
    background-color:rgba(255, 255, 255, 0.8);
    padding:10px;
}
/*Fooer Setup*/
footer
{
    background-color:#000000;
    color:#ffffff;
    padding-top:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding-bottom:20px;
    font-size:0.8em;
}
footer ul
{
    display:flex;
    list-style:none;
    justify-content:center;
    flex-wrap:wrap;
    width:100vw;
}
footer ul:first-of-type li
{
    padding-left:10px;
    padding-right:10px;
    border-right:1px solid #ffffff;
}
footer ul:first-of-type li a
{
    color:#ffffff;
    text-decoration:none;
}
footer ul:first-of-type li a:hover
{
    text-decoration:underline;
}
footer ul li:last-of-type
{
    border-right:none;
}
footer ul:last-of-type li
{
    padding-left:10px;
    padding-right:10px;
    align-self:center;
    padding-top:10px;
    text-align:center;
}
footer img
{
    height:32px;
    width:32px;
}