/*General Setup*/
*
{
    padding:0px;
    margin:0px;
    overflow-x:hidden;
}
body
{
    font-size:1em;
    font-family:verdana, sans-serif;
    background-color:#999999;
}
/*Header Setup*/
header
{
    width:100%;
    background-color:#000000;
    padding:20px;
}
header img
{
    height:183px;
    width:557px;
}
/*Main Content*/
main
{
    min-height:calc(100vh - 350px);
    display:flex;
    flex-wrap:wrap;
}
section
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-self:flex-start;
    width:70%;
    padding:30px;
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
    background-color:#ffffff;
}
section p
{
    padding:30px;
}
section h1
{
    width:100%;
    font-size:4em;
    padding:15px;
}
section img
{
    margin:15px;
}
section > ul
{
    padding-left:30px;
    padding-right:30px;
}
section form
{
    margin:30px;
    max-width:500px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
section form fieldset
{
    padding:15px;
    width:100%;
}
section form > input
{
    padding:15px;
    width:40%;
    margin-top:15px;
}
/*Fooer Setup*/
footer
{
    background-color:#000000;
    color:#ffffff;
    padding-top:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding-bottom:20px;
    font-size:0.8em;
}
footer ul
{
    display:flex;
    list-style:none;
    justify-content:center;
    flex-wrap:wrap;
    width:100vw;
}
footer ul:first-of-type li
{
    padding-left:10px;
    padding-right:10px;
    border-right:1px solid #ffffff;
}
footer ul:first-of-type li a
{
    color:#ffffff;
    text-decoration:none;
}
footer ul:first-of-type li a:hover
{
    text-decoration:underline;
}
footer ul li:last-of-type
{
    border-right:none;
}
footer ul:last-of-type li
{
    padding-left:10px;
    padding-right:10px;
    align-self:center;
    padding-top:10px;
    text-align:center;
}
footer img
{
    height:32px;
    width:32px;
}